@use "@/styles/mixins" as *;

.arrow_button {
    font-family: var(--font-highlight);
    font-size: 1.25rem;
    text-transform: uppercase;
    place-self: start;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        inset-inline-end: -2rem;
        inset-block: 55%;
        transform: translateY(-55%);
        mask: url("/arrow.svg") center / 100% 100% no-repeat;
        background-color: var(--blood-red);
        width: 5rem;
        height: 2rem;
    }

    &:hover::after {
        @include move-animation(translate(0, -55%), translate(-0.6rem, -55%));
    }

    @include xl-screen {
        font-size: 1.5rem;
    }
}
